

services:

  # -------------------------
  # ZOOKEEPER
  # -------------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  # -------------------------
  # KAFKA
  # -------------------------
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    depends_on:
      - kafka


  # -------------------------
  # ORDER DATABASE
  # -------------------------
  order-db:
    image: postgres:15
    environment:
      POSTGRES_DB: orders
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"

  # -------------------------
  # PAYMENT DATABASE
  # -------------------------
  payment-db:
    image: postgres:15
    environment:
      POSTGRES_DB: payments
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"

  # -------------------------
  # ORDER SERVICE
  # -------------------------
  order-service:
    build: ./order-service
    depends_on:
      - order-db
      - kafka
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@order-db:5432/orders
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  # -------------------------
  # PAYMENT SERVICE
  # -------------------------
  payment-service:
    build: ./payment-service
    depends_on:
      - payment-db
      - kafka
    environment:
      DATABASE_URL: postgresql://postgres:postgres@payment-db:5432/payments
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
